
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


<img src="" alt="">


<div class="modal fade" id="account" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div style="font-size: 20px; font-family: 'Mali', cursive;" class="modal-content">
            <div class="modal-header">
                <h2>NEW NEIGHBOURHOOD</h2>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            
            </div>
                <div class='row' style="margin-left: 10px;" >
                    <em><b>N/B:<h4>Fill in all the fields</h4></b></em>
                </div>
            <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                    
                        {% bootstrap_form form %}
                        
                        <button class='btn btn-primary' type='submit' >SUBMIT</button>
                    </form>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>
          
{% endblock %}